<!-- filter.component.html -->

<div class="filter-container">
  <div class="filter-group">
    <label for="estado-select">Estado:</label>
    <select id="estado-select" [(ngModel)]="selectedEstado" (change)="onFilterChange()" class="form-control">
      <option value="">Todos</option>
      <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
    </select>
  </div>

  <div class="filter-group">
    <label for="especie-select">Especie:</label>
    <select id="especie-select" [(ngModel)]="selectedEspecie" (change)="onFilterChange()" class="form-control">
      <option value="">Todos</option>
      <option *ngFor="let especie of especies" [value]="especie">{{ especie }}</option>
    </select>
  </div>

  <button class="btn btn-secondary reset-button" (click)="resetFilters()">Reiniciar Filtros</button>
</div>
