<header>
  <h1>Hola, Diego Barrios</h1>
  <p>Primer commit en Git con un push. 🎉</p>
</header>
<nav>
  <ul>

      <a routerLink = "/autocomplete">Autocomplete</a>
      |
      <a routerLink = "/badge">Badge</a>
      |
      <a routerLink = "/bottom-sheet">Bottomsheet</a>
      |
      <a routerLink = "/button">Button</a>
      |
      <a routerLink = "/button-toggle">Button Toggle</a>
      |
      <a routerLink = "/card">Card</a>
      |
      <a routerLink = "/checkbox">Check Box</a>
      |
      <a routerLink = "/chips">Chips</a>
      |
      <a routerLink = "/datepicker">Date Picker</a>
      |
      <a routerLink = "/dialog">Dialog</a>
      |
      <a routerLink = "/divider">Divider</a>

      |
      <a routerLink = "/expansion-panel">Expansion Panel</a>
      |
      <a routerLink = "/formfield">Form Field</a>
      |
      <a routerLink = "/gridlist">Grid List</a>
      |
      <a routerLink = "/icon">Icon</a>
      |
      <a routerLink = "/input">Input</a>
      |
      <a routerLink = "/list">List</a>
      |
      <a routerLink = "/menu">Menu</a>
      |
      <a routerLink = "/paginator">Paginator</a>
      |
      <a routerLink = "/progressbar">Progess Bar</a>
      |
      <a routerLink = "/progressspinner">Progress Spinner</a>
      |
      <a routerLink = "/radiobutton">Radio Button</a>
      |
      <a routerLink = "/ripples">Ripples</a>
      |
      <a routerLink = "/select">Select</a>
      |
      <a routerLink = "/sidenav">SideNav</a>
      |
      <a routerLink = "/slider">slider</a>
      |
      <a routerLink = "/slidetoggle">Slider Toggle</a>
      |
      <a routerLink = "/snackbar">Snack Bar</a>
      |
      <a routerLink = "/sortheader">Sort Header</a>
      |
      <a routerLink = "/stepper">Stepper</a>
      |
      <a routerLink = "/table">Table</a>
      |
      <a routerLink = "/tabs">Tabs</a>
      |
      <a routerLink = "/toolbar">Tool Bar</a>
      |
      <a routerLink = "/tooltip">Tool Tip</a>
      |
      <a routerLink = "/tree">Tree</a>

  </ul>
</nav>
<router-outlet></router-outlet>
