.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.header {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-profile {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.table img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-action {
  background-color: transparent;
  border: 2px solid;
  color: inherit;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-action:hover {
  background-color: currentColor;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-info {
  margin: 0 15px;
  font-weight: bold;
}

.modal-content {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-footer .btn {
  border-radius: 6px;
}

/* Responsividad para el Header */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-profile {
    margin-bottom: 10px;
  }
}
